.option {
  cursor: pointer;
  padding: 0.5rem 1rem;
  list-style: none;
}
.option:hover {
  background-color: rgb(234, 232, 232);
}
s .Container {
  display: flex;
  justify-content: center;
  width: 60%;
}
